* {
    box-sizing: border-box; 
  }
  
  body {
    background: #ffffff;
    overflow: hidden;
  }
.body_dark{
    background: #1e1e1e;
}

.moon {
    width: 40px;
    height: 36px;
    box-shadow: 11px 0px 0px #211f1f;
    transform: rotate(135deg);
    position: absolute;
    top: 60px;
    left: 100px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

.moon.is-moon-in-the-sky {
    opacity: 1;
  }

.moon_is_on {
    box-shadow: 11px 0px 0px #ebbc00;
}
.text {
    cursor: pointer;
}