/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');


* {
  box-sizing: border-box;
}




body {
  background: #ffffff;
  overflow: hidden;
}

.loader-wrapper {
  width: 100;
  height: 100;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}

.chain_mode {
  background-image: url("../img/chain_bg.png");
}

.flex {
  display: flex;

  justify-content: center;
  align-items: center;
}
.blockchain {
  background-image: "images/chain.png";
  /* position: absolute; */
  top: 12%;
  left: 99%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  margin: 0px auto;
  margin-left: -1%;
  border-radius: 50%;
  background: #00cce5;
  overflow: hidden;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
}

/* media */
@media screen and (max-width: 992px) {
  .inside_menu {
    display: none !important;
  }
}

.ghost {
  height: 60px !important;
  width: 60px !important;
}

.plant {
  height: 60px !important;
  width: 60px !important;
}
.circle {
  left: 95% !important;
}

.blockchain.is-in-view {
  opacity: 1;
  transform: scale(1);
}
.b_chain {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.b_chain.is-in-view {
  opacity: 1;
}

.circle {
  /* position: absolute; */
  top: 12%;
  left: 96%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  margin: 0px auto;
  border-radius: 50%;
  background: #00cce5;
  overflow: hidden;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.circle.is-in-view {
  opacity: 1;
  transform: scale(1);
}

.moon {
  width: 20px;
  height: 18px;
  box-shadow: 5px 0px 0px #f8e700;
  transform: rotate(135deg);
  position: absolute;
  top: -4.8%;
  left: 30%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.8s ease;
}
.moon.is-moon-in-the-sky {
  opacity: 1;
}

.moon_is_on {
  box-shadow: 5px 0px 0px #f6f6f6;
}
.text {
  cursor: pointer;
}

.dark-mode {
  background-color: rgb(42, 42, 42);
}

.dark_image {
  opacity: 0;
  width: 90px;
  height: 90px;
}
.dark_image_view {
  width: 90px;
  height: 90px;
  opacity: 100;
  visibility: visible;
  transition: 1s ease-in-out;
}

.ghost {
  top: 22px;
  left: 10px;
  width: 90px;
  height: 90px;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  /* transition: 2s ease; */
}
.light_mode {
  opacity: 0;
}
.light_image {
  opacity: 1;
  width: 90px;
  height: 90px;
  transition: 1s ease-in-out;
  /* transform: scale(2); */
}
.light_image_view {
  width: 90px;
  height: 90px;

  display: none;
  opacity: 0;
}
.plant {
  top: 22px;
  left: 10px;
  width: 90px;
  height: 90px;
  position: absolute;
  opacity: 100;
  transition: all 2s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.text_light {
  color: rgb(36, 36, 36) !important;
}

.text_dark {
  color: rgb(248, 248, 248) !important;
}

.navbar_mode {
  opacity: 1;
  left: 88%;
}

.navbar_toggle_custom {
  outline: none !important;
  box-shadow: none;
  border: 0;
}

/* customizing the bootstrap .container-fluid class from *space-between* to *flex-end*. */
.container-fluid {
  justify-content: flex-end !important;
}

/* removing bootstrap navbar toggler icon border outline and focus! */

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none;
  border: 0;
}

.font_text_nav{

  font-family: 'Roboto Mono', monospace;
  font-size: larger;
  /* transition: 2s all ease; */
}
.margin_nav_onload{
  
 
  /* position: absolute; */
  /* position: relative; */
  margin-right: 14% !important;
  transition: 1s all ease-in-out !important;
}

.flex_text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
 
}

.bg_text{
  position: absolute;
  top: 25%;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Caption', sans-serif;
  color: #ffffff;
  font-size: 18vw ;
  cursor: default;
  z-index: -1;
  
  
  }

  .bg_text_dark{
    color: rgb(42, 42, 42);
    
  }
.bg_text:hover{
  text-shadow: 5px 6px #b5b5b5;
  transition: 2s ease-in-out;
}
.bg_text_dark:hover{
  text-shadow: 5px 6px #131313;
  transition: 2s ease-in-out;
}

.welcome_text{
  
  top: 30%;
  font-family: 'Roboto Mono', monospace;
  font-size: larger;
  background-color: #ffffff;
  margin-left: 50px;
  display: inline-block;
}
