* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  overflow: hidden;
}

.chain_mode{
  background-image: url("images/chain_bg.png");
  
  
}

.flex {
  display: flex;

  justify-content: center;
  align-items: center;
}
.blockchain {
  
  background-image: "images/chain.png";
  position: absolute;
  top : 2%;
  left : 93%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  margin: 0px auto;
  border-radius: 50%;
  background: #00cce5;
  overflow: hidden;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.694, 0.048, 0.335, 1); 
}
.blockchain.is-in-view {
  opacity: 1;
  transform: scale(1);
}
.b_chain{
  opacity: 0;
  transition: opacity 0.8s ease;
}

.b_chain.is-in-view{
  opacity: 1;
}

.circle {
  
  
  position: absolute;
  top : 2%;
  left : 90%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  margin: 0px auto;
  border-radius: 50%;
  background: #00cce5;
  overflow: hidden;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.circle.is-in-view {
  opacity: 1;
  transform: scale(1);
}

.moon {
  width: 20px;
  height: 18px;
  box-shadow: 5px 0px 0px #f8e700;
  transform: rotate(135deg);
  position: absolute;
  top: -4.8%;
  left: 30%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.8s ease;
}
.moon.is-moon-in-the-sky {
  opacity: 1;
}

.moon_is_on {
  box-shadow: 5px 0px 0px #f6f6f6;
}
.text {
  cursor: pointer;
}

.dark-mode {
  background-color: rgb(42, 42, 42);
  color: white;
}
